config/local.php
content/upgrade/
content/backup-db/
content/advanced-cache.php
content/wp-cache-config.php
sitemap.xml
*.log
content/cache/
content/backups/
sitemap.xml.gz

################################################################################
# OS or Editor folders
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
.DS_Store
*.DS_Store
*.lock

# SCM files/folders
.hg
.svn

# Junk
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# Dreamweaver added files
_notes
dwsync.xml

