# WordPress
content/backup-db/
content/backups/
content/blogs.dir/
content/cache/
content/upgrade/
content/uploads/
content/advanced-cache.php
content/wp-cache-config.php

# Generated content
*.log
sitemap.xml
sitemap.xml.gz

# OS or editor folders #
.cache
.DS_Store
.hg
.project
.settings
.svn
.tmproj
*.esproj
*.lock
*.sass-cache
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
_notes
dwsync.xml
nbproject
Thumbs.db
