# direnv - http://direnv.net/
.envrc

# Composer
# Remove this section if you're not using composer to manage WordPress and want
# the core files in your checkins (or are using submodule/subtree/something else
# to manage WP)
# Composer dependencies
vendor/
# Plugins and themes are managed by composer using wpackagist.org or regular
# packagist. Consider setting your theme up as a composer package, too.
content/mu-plugins/
content/themes/
plugins/
# WordPress is managed by composer as a custom package
wp/

# WordPress
content/backup-db/
content/backups/
content/blogs.dir/
content/cache/
content/upgrade/
content/uploads/
content/advanced-cache.php
content/wp-cache-config.php

# Generated content
*.log
sitemap.xml
sitemap.xml.gz

# OS or editor folders #
.cache
.DS_Store
.hg
.project
.settings
.svn
.tmproj
*.esproj
*.lock
*.sass-cache
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
_notes
dwsync.xml
nbproject
Thumbs.db
